@import "@/styles/_variables.scss";
@import "@/styles/_mixins.scss";

.lg-h1 {
  @include Text-FS-FW-LH(64px, 400, 84px);
}

.lg-h2 {
  font-family: 'Manrope', sans-serif;
  @include Text-FS-FW-LH(48px, 400, 72px);
  color: $color-primary;
}

.md-h3 {
  font-family: 'Open Sans', sans-serif;
  @include Text-FS-FW-LH(20px, 700, 32px);
  color: $color-secondary;
}

.md-h4 {
  font-family: 'Open Sans', sans-serif;
  @include Text-FS-FW-LH(16px, 700, 28px);
  color: $color-primary;
}

.sm-h5 {
  font-family: 'Open Sans', sans-serif;
  @include Text-FS-FW-LH(20px, 400, 32px);
  color: $color-primary;
}

.sm-h6 {
  font-family: 'Open Sans', sans-serif;
  @include Text-FS-FW-LH(16px, 400, 28px);
  color: $color-secondary;
}

@media screen and (max-width: 1024px) {
  .lg-h1 {
    @include Text-FS-FW-LH(48px, 400, 72px);
  }

  .lg-h2 {
    @include Text-FS-FW-LH(32px, 400, 64px);
  }
}

@media screen and (max-width: 768px) {
  .lg-h1 {
    @include Text-FS-FW-LH(32px, 400, 64px);
  }

  .lg-h2 {
    @include Text-FS-FW-LH(24px, 400, 48px);
  }

  .md-h3 {
    @include Text-FS-FW-LH(16px, 700, 32px);
  }

  .md-h4 {
    @include Text-FS-FW-LH(14px, 700, 28px);
  }

  .sm-h5 {
    @include Text-FS-FW-LH(16px, 400, 32px);
  }

  .sm-h6 {
    @include Text-FS-FW-LH(14px, 400, 28px);
  }
}


