@import "@/styles/_mixins.scss";
@import "@/styles/_variables.scss";

.wrapper {
  max-width: 300px;
  height: 424px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .img {
    width: 100%;
  }

  .content {
    height: 100%;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .text {
      font-family: 'Open Sans', sans-serif;
      @include Text-FS-FW-LH(20px, 400, 32px);
      color: $color-secondary;
      white-space: normal;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
