@import "@/styles/_variables.scss";
@import "@/styles/_mixins.scss";


.list_items {
  .list_item {
    list-style: none;
    display: flex;
    align-items: flex-end;

    .item_link {
      margin-top: 32px;
      font-family: 'Open Sans', sans-serif;
      @include Text-FS-FW-LH(20px, 400, 32px);
      color: $color-third;
    }
  }
}

@media screen and (max-width: 768px) {
  .list_items {
    .list_item {
      list-style: none;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      .item_link {
        margin-top: 12px;
        font-family: 'Open Sans', sans-serif;
        @include Text-FS-FW-LH(13px, 400, 32px);
        color: $color-third;
      }
    }
  }
}