@import "@/styles/_mixins.scss";
@import "@/styles/_variables.scss";

.wrapper {
  @include Flex-Center();

  .title_block {
    @include Flex-Center();
    flex-direction: column;
    gap: 12px;
    margin: 27.5px 0;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    .title_block {
      gap: 0;
      margin: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 0 15px;

    .title_block {
      gap: 0;
      margin: 0;
    }
  }
}