.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0 124px;
  gap: 40px;

  .title {
    max-width: 1000px;
    width: 100%;
  }

  .content {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 80px;
  }

  .btn {
    margin-top: 56px;
  }

}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 46px 100px 62px;
    gap: 0;

    .content {
      width: 100%;
      justify-content: space-between;
      grid-template-columns: repeat(2, minmax(280px, 300px));
      grid-column-gap: min(10px);
      grid-row-gap: 40px;
    }

    .btn {
      margin-top: 36px;
    }

  }

}

@media screen and (max-width: 768px) {
  .wrapper {
    padding: 16px 15px 32px;

    .content {
      width: 100%;
      justify-content: space-between;
      grid-template-columns: 1fr;
      grid-column-gap: 0;
      grid-row-gap: 20px;
    }

    .btn {
      margin-top: 16px;
    }
  }

}

